<?xml version="1.0" encoding="UTF-8"?>
<!-- logback没有文档定义，加这个只是为了不让ecplise报warning -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">

<configuration scan="true" scanPeriod="60 seconds" debug="false">

	<!-- 输出目的地是控制台 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>